<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Products</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
</head>
<body>
    <main id="vue"></main>
    <script src="~/app_root/dist/app.min.js"></script>
</body>
</html>